<p>Отзывы наших пользователей</p>
<div class="card-columns">
    {% if comments.0 %}
    {% for comment in comments %}
    <!-- Card -->
    <div class="card testimonial-card border-success" style="max-width: 22rem">

        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>

        <!-- Avatar -->
<!--        <div class="avatar mx-auto white">-->
<!--            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle"-->
<!--                 alt="woman avatar">-->
<!--        </div>-->

        <!-- Content -->
        <div class="card-body cloudy-knoxville-gradient hoverable">
            <!-- Name -->
            <h4 class="card-title">{{comment.user}}</h4>
            <h6 class="card-title">{{comment.created}}</h6>
            <hr>
            <!-- Quotation -->
            <p class="text-wrap"><i class="fas fa-quote-left"></i> {{comment.text}}
            </p>
        </div>

    </div>
    <!-- Card -->
    {% endfor %}
    {% else %}
        <div class="card testimonial-card border-success" style="max-width: 22rem">
        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>

        <!-- Content -->
        <div class="card-body cloudy-knoxville-gradient hoverable">
            <!-- Name -->
            <h4 class="card-title">К сожалению у этого товара ещё нет отзывов, но вы можете стать первым</h4>
        </div>
    </div>
    {% endif %}
</div>

