{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Галерея</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product.css'%}">
<style>
    .rate {
        display: inline-block;
        text-align: center;

    }


    form {
        margin: 0;
    }

    .dislike,
    .like {
        margin-left: 10px;
    }

    .dislike {
        line-height: 1.5;
    }

    .like {
        line-height: 1.2;
    }

    .like:hover {
        color: rgba(30, 237, 30, 0.63);
        transition: all .4s ease-in-out;
        transform: scale(1.1);
    }

    .dislike:hover {
        color: rgba(239, 18, 18, 0.63);
        transition: all .4s ease-in-out;
        transform: scale(1.1);
    }

    .active_like {
        color: rgba(30, 237, 30, 0.63);
    }

    .active_dislike {
        color: rgba(239, 18, 18, 0.63);
    }

    .masonry {
        columns: 4;
        column-gap: 16px;
    }

    @media (max-width: 1200px) {
        .masonry {
            columns: 3;
        }
    }

    @media (max-width: 992px) {
        .masonry {
            columns: 2;
        }
    }

    .masonry .grid {
        display: inline-block;
        margin-bottom: 16px;
        position: relative;
    }

    .masonry .grid:before {
        border-radius: 5px;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /*        background-color: rgba(0, 0, 0, .2);*/
    }

    .masonry .grid img {
        width: 100%;
        border-radius: 5px;
    }

    .masonry .grid__title {
        font-size: 28px;
        font-weight: bold;
        margin: 0px 0px 10px 0px;
    }

    .masonry .grid__author {
        font-size: 14px;
        font-weight: 300;
    }

    .masonry .grid__link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .masonry .grid__body {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 30px 30px;
        color: #fff;
        display: flex;
        flex-direction: column;
    }

    .masonry .grid__tag {
        background-color: rgba(255, 255, 255, .5);
        color: rgb(39, 39, 39);
        border-radius: 5px;
        padding: 5px 15px;
        margin-bottom: 5px;
        max-width: 150px;
    }

    .mt-auto {
        margin-top: auto;
    }

    input {
        display: none;
    }

    .button {
        outline: none;
        border: none;
        background-color: rgba(0,0,0,0);
    }
    .button:hover {
        color: #3452eb;
        transition: all .4s ease-in-out;
    }
    .heart {
        color: #eb3462;
    }
    .heart:hover, .heart-broken:hover {
        transition: all .4s ease-in-out;
        transform: scale(1.2);
    }
    .heart-broken {
        color: #5c5b5b;
    }

</style>
{% endblock %}
{% block content %}
<div class="masonry mt-3">
    {% for image in images %}
        <div class="grid">
            <img src="{{image.file}}">
            <div class="grid__body">
                <div class="relative">
                    <h1 class="grid__title">{{image.author}}</h1>
                    <p class="grid__author">{{image.create}}</p>
                </div>
                <div class="mt-auto rate grid__tag">
                    {% if not image.id in images_id  %}
                    <p>Вам нравится?</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div>
                            <i class="fa fa-thumbs-up fa-2x like like-{{image.id}}" aria-hidden="true"></i>
                            <input id="like-{{image.id}}" type="hidden" name="like" value="0">
                            <i class="fa fa-thumbs-down fa-2x dislike dislike-{{image.id}}" aria-hidden="true"></i>
                            <input id="dislike-{{image.id}}" type="hidden" name="dislike" value="0">
                        </div>
                        <input id="image_id" type="hidden" name="image_id" value="{{image.id}}">
                        <button class="button" name="rate" type="submit">Оценить</button>
                    </form>
                    {% else %}
                    <span>{% for id, like_count in likes.items %} {% if image.id == id %} {{like_count.like__sum}}  {% endif %}{% endfor %}<i class="fas fa-heart heart"></i></span>
                    <span>{% for id, dislike_count in dislikes.items %} {% if image.id == id %} {{dislike_count.dislike__sum}}  {% endif %}{% endfor %}<i class="fas fa-heart-broken heart-broken"></i></span>
                    {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block extra_js %}
<script>
{% for image in images %}
    $('.like-{{image.id}}').on('click', function() {
        event.preventDefault();
        $('.active_like').removeClass('active_like');
        $(this).addClass('active_like');
        $('#like-{{image.id}}').attr('value', '1')
        if ($('.active_dislike')) {
            $('.active_dislike').removeClass('active_dislike');
            $('#dislike-{{image.id}}').attr('value', '0')
        }
    });
    $('.dislike-{{image.id}}').on('click', function() {
        event.preventDefault();
        $('.active_dislike').removeClass('active_dislike');
        $(this).addClass('active_dislike');
        $('#dislike-{{image.id}}').attr('value', '1')
        if ($('.active_like')) {
            $('.active_like').removeClass('active_like');
            $('#like-{{image.id}}').attr('value', '0')
        }
    });
{% endfor %}
</script>
{% endblock %}
