{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>{{name}}</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css'%}">
<link type="text/css" rel="stylesheet" href="{% static 'css/magiczoomplus.css'%}"/>
<script type="text/javascript" src="{% static 'js/product/magiczoomplus.js'%}"></script>
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px">
<div class="row">
        <div class="col">
            {% include 'components/product/product/zoom.html' %}
            {% if user.is_authenticated %}
            {% include 'components/product/product/link_to_gallery.html' %}
            {% include 'components/product/product/new_photo_modal.html' %}
            {% include 'components/product/product/thanks_modal.html' %}
            {% else %}
            {% include 'components/product/product/not_auth_gallery_link.html' %}
            {% endif %}
        </div>
    </div>

    <div class="col mt-3">
        {% include 'components/product/product/breadcrumbs.html' %}
        <div>
            <p id="product-name-in-info-block" style="max-width: inherit;">
                {{name}}
            </p>
        </div>
        {% include 'components/product/product/points.html' %}
        <div class="mt-3">
            {% if user.is_authenticated %}
            {% include 'components/product/product/rating.html' %}
            {% else %}
            {% include 'components/product/product/not_auth_reviews.html' %}
        </div>
            {% endif %}
            {% include 'components/product/product/review_best.html' %}

        </div>
</div>
        <div class="col">
            {% include 'components/product/product/reviews.html' %}
            {% if user.is_authenticated %}
            {% include 'components/product/product/review_write.html' %}
            {% else %}
            {% include 'components/product/product/not_auth_links.html' %}
            {% endif %}
        </div>

        {% endblock %}
        {% block extra_js %}
        <script src="{% static 'js/jquery.star-rating-svg.js' %}"></script>
        <script src="{% static 'js/product/jquery.autosize.js' %}"></script>
        {% include 'components/product/product/extra_js.html' %}
        {% endblock %}
