{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Права пользования</title>
{% endblock %}
{% block content %}
<div class="container mt-3" style="color: #515050">
    <h2>Пользовательское Соглашение сайта scanner.savink.in</h2>
    <p>Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем scanner.savink.in
        (далее <i>Продовед или Администрация</i>) с одной стороны и пользователем сайта с другой. Сайт Продовед не
        является
        средством массовой информации.</p>

    <strong>Используя сайт, Вы соглашаетесь с условиями данного соглашения.
        Если Вы не согласны с условиями данного соглашения, не используйте сайт Продовед!</strong>

    <h2>Предмет соглашения</h2>
    <p>Администрация предоставляет пользователю право на размещение на сайте следующей информации:
    <ul>
        <li> Текстовой информации</li>
        <li> Фотоматериалов</li>
    </ul>


    <h2>Права и обязанности сторон</h2>
    <h4><strong>Пользователь имеет право:</strong></h4>
    <ul>
        <li> осуществлять поиск информации на сайте</li>
        <li> получать информацию на сайте</li>
        <li> создавать информацию для сайта</li>
        <li> комментировать контент, выложенный на сайте</li>
        <li> копировать информацию на другие сайты с разрешения Администрации сайта</li>
        <li> требовать от администрации скрытия любой информации переданной пользователем сайту</li>
        <li> использовать информацию сайта в личных некоммерческих целях</li>
    </ul>

    <h4><strong>Администрация имеет право:</strong></h4>
    <ul>
        <li> по своему усмотрению и необходимости создавать, изменять, отменять правила</li>
        <li> ограничивать доступ к любой информации на сайте</li>
        <li> создавать, изменять, удалять информацию</li>
        <li> удалять учетные записи</li>
        <li> отказывать в регистрации без объяснения причин</li>
    </ul>

    <h2>Пользователь обязуется:</h2>
    <ul>
        <li> обеспечить достоверность предоставляемой информации</li>
        <li> обеспечивать сохранность личных данных от доступа третьих лиц</li>
        <li> обновлять Персональные данные, предоставленные при регистрации, в случае их изменения</li>
        <li> при копировании информации с других источников, включать в её состав информацию об авторе</li>
        <li> не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или
            религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная
            или
            административная ответственность
        </li>
        <li> не нарушать работоспособность сайта</li>
        <li> не создавать несколько учётных записей на Сайте, если фактически они принадлежат одному и тому же лицу</li>
        <li> не совершать действия, направленные на введение других Пользователей в заблуждение</li>
        <li> не передавать в пользование свою учетную запись и/или логин и пароль своей учетной записи третьим лицам
        </li>
        <li> не регистрировать учетную запись от имени или вместо другого лица за исключением случаев, предусмотренных
            законодательством РФ
        </li>
        <li> не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также
            иную
            информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ
        </li>
        <li> не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом
            и его
            Сервисами
        </li>
    </ul>

    <h2>Администрация обязуется:</h2>
    <ul>
        <li> поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от
            Администрации
            причинам.
        </li>
        <li> осуществлять разностороннюю защиту учетной записи Пользователя</li>
        <li> защищать информацию, распространение которой ограничено или запрещено законами путем вынесения
            предупреждения либо
            удалением учетной записи пользователя, нарушившего правила
        </li>
    </ul>

    <h2>Ответственность сторон:</h2>
    <ul>
        <li> администрация не несет никакой ответственности за достоверность информации, скопированной из других
            источников
        </li>
        <li> администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг
        </li>
        <li> администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами</li>
        <li> в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие
            и т.
            д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную
            работу
            информационного ресурса
        </li>
    </ul>

    <h2>Условия действия Соглашения:</h2>
    <ul>
        <li> Данное Соглашение вступает в силу при любом использовании данного сайта.</li>
        <li> Соглашение перестает действовать при появлении его новой версии.</li>
        <li> Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему
            усмотрению.</li>
        <li> При любом изменении данного соглашения, администрация будет оповещать пользователей удобным для нее
            способом.</li>
    </ul>
</div>
{% endblock %}