{% extends 'base/base.html' %} {% load static %}
{% block title %}
<title>Список сообщений пользователей</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/complaint_list.css'%}">
{% endblock %}
{% block content %}
{% include 'components/admin/complaint_list/other_pages_links.html' %}
    <div class="content">
        {% include 'components/admin/complaint_list/complaints.html' %}
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/complaint_list.js' %}"></script>
{% endblock %}
