<div class="tab-pane fade" id="docs" style="color: #515050">
    <div class="card cloudy-knoxville-gradient hoverable">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center">Руковоство пользователя</h4>
            <p class="card-text">
            <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="good_information_tab" data-toggle="pill" href="#good_information"
                       role="tab"
                       aria-controls="good_information" aria-selected="true">Предоставление информации о товаре по его
                        фотографии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="good_search_tab" data-toggle="pill" href="#good_search" role="tab"
                       aria-controls="good_search" aria-selected="false">Поиск товара в множестве категорий, а так же
                        просмотр
                        средней оценки от пользователей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="gallery_tab" data-toggle="pill" href="#gallery" role="tab"
                       aria-controls="gallery" aria-selected="false">Галерея с фотографиями, загруженными</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="review_tab" data-toggle="pill" href="#review" role="tab"
                       aria-controls="review" aria-selected="false">Отзыв о товаре и оценка по пятибальной шкале</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="feedback_tab" data-toggle="pill" href="#feedback" role="tab"
                       aria-controls="feedback" aria-selected="false">Обратная связь по вопросам, жалобам и
                        предложениям</a>
                </li>
            </ul>
            </p>
        </div>
    </div>
    <div class="tab-content pt-2 pl-1" id="pills-tabContent">
        <div class="tab-pane fade show active" id="good_information" role="tabpanel"
             aria-labelledby="good_information_tab">
            <h3>Предоставление информации о товаре по его фотографии</h3>
            <p>Для поиска товара по фотографии перейдите на главную страницу сайта (переход можно осуществить по
                нажатию на логотип сервиса или вкладки <a href="/" style="font-size: inherit">«Главная»</a> в
                меню сайта). Далее необходимо нажать на
                кнопку «Загрузить фото» или перетащить Ваше фото в соответствующую
                область, дождаться обработки фото (обычно занимает не более двух секунд).</p>
            <p>Если такой товар уже присутствует на нашем сайте, то Вы будете перенаправлены
                на страницу соответствующего товара.
                В ином случае Вам будет предложено добавить Ваш товар на наш сайт.</p>
            <div class="card yellow lighten-2 text-black text-center p-3 mt-2 mb-3 hoverable"
                 style="width: auto">
                <blockquote class="blockquote mb-0">
                    <h4 class="card-title">Внимание</h4>
                    <p>Следует писать настоящее название товара, а также не использовать специальных символов.
                        После отправки заявки в Вашем профиле появится товар, который Вы отправили на модерацию,
                        а также статус вашей заявки.</p>
                    <footer class="blockquote-footer">
                        <small>
                            <cite title="Source Title">Наши модераторы будут вам очень благдарны</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <p>После проверки на подлинность названия товара и распределения его в правильную категорию
                Вы увидите, что статус изменился на «Одобрено». В ином случае статус изменится на
                «Отклонено».</p>
            <div class="card blue lighten-2 text-black text-center p-3 mt-2 mb-3 hoverable" style="width: auto">
                <blockquote class="blockquote mb-0">
                    <h4 class="card-title">Примечание</h4>
                    <p>По вопросам и жалобам можно обратиться через раздел
                        <a href="/complaint" style="font-size: inherit">«Обратная связь»</a>внизу страницы (см. пункт
                        "Обратная связь по вопросам, жалобам и предложениям").


                    </p>
                    <footer class="blockquote-footer">
                        <small>
                            <cite title="Source Title">Мы обязательно рассмотрим ваше сообщение и ответим как
                                можно скорее</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="tab-pane fade" id="good_search" role="tabpanel" aria-labelledby="good_search_tab">
            <h3>Поиск товара в множестве категорий, а так же просмотр средней оценки от пользователей</h3>
            <p>Если Вы хотите найти товар через категории, то нужно перейти на страницу <a href="/category/"
                                                                                           style="font-size: inherit">«Товары»</a>,
                перейти в нужную категорию и нажать на искомый товар.
                Ваши оценки к товару располагаются в списке всех товаров категории,
                а средняя оценка всех пользователей на странице соответсвующего товара.</p>
            <div class="card green accent-2 text-black text-center p-3 mt-2 mb-3 hoverable"
                 style="width: auto">
                <blockquote class="blockquote mb-0">
                    <h4 class="card-title">Важно</h4>
                    <p>Для оценки товара необходимо авторизоваться на сайте.</p>
                    <footer class="blockquote-footer">
                        <small>
                            <cite title="Source Title">Для использования всех возможностей сайта мы рекомендуем
                                вам зарегестрироваться на сайте</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery_tab">
            <h3>Галерея с фотографиями, загруженными пользователями</h3>
            <p>Чтобы перейти в галерею товара, необходимо зайти на его страницу (см. пункты "Предоставление информации о
                товаре по его фотографии","Поиск товара в множестве категорий ).
                После перехода на страницу, под фотографиями продукта вы увидите ссылку для перехода к галерее.
            </p>
            <div class="card green accent-2 text-black text-center p-3 mt-2 mb-3 hoverable"
                 style="width: auto">
                <blockquote class="blockquote mb-0">
                    <h4 class="card-title">Важно</h4>
                    <p>Для просмотра галереи необходимо авторизироваться на сайте.</p>
                    <footer class="blockquote-footer">
                        <small>
                            <cite title="Source Title">Для использования всех возможностей сайта мы рекомендуем
                                вам зарегестрироваться на сайте</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review_tab">
            <h3>Отзыв о товаре и оценка по пятибальной шкале</h3>
            <p>Для того, чтобы оставить отзыв о товаре, необходимо перейти на его страницу(см. пункт "Поиск товара в
                множестве категорий"),
                спуститься вниз страницы и написать отзыв.
            </p>
            <div class="card blue lighten-2 text-black text-center p-3 mt-2 mb-3 hoverable"
                 style="width: auto">
                <blockquote class="blockquote mb-0">
                    <h4 class="card-title">Совет</h4>
                    <p>Не стоит использовать оскорбительные слова и нецензурную лексику. Все отзывы фильтруются
                        и
                        удаляются.</p>
                    <footer class="blockquote-footer">
                        <small>
                            <cite title="Source Title">Проявите вежливость к администрации и другим
                                пользователям</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
            <p>Для того чтобы оценить товар, необходимо перейти на его страницу(см. пункт "Поиск товара в множестве
                категорий"). Под основной информацией о
                товаре Вы найдёте пункт «Ваша оценка». После оценки товара Вы увидите среднюю оценку этого
                товара другими пользователямию.
            </p>
            <div class="card green accent-2 text-black text-center p-3 mt-2 mb-3 hoverable"
                 style="width: auto">
                <blockquote class="blockquote mb-0">
                    <h4 class="card-title">Важно</h4>
                    <p>Для оценки товара необходимо авторизироваться на сайте.</p>
                    <footer class="blockquote-footer">
                        <small>
                            <cite title="Source Title">Для использования всех возможностей сайта мы рекомендуем
                                вам зарегестрироваться на сайте</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="tab-pane fade" id="feedback" role="tabpanel" aria-labelledby="feedback_tab">
            <h3>Обратная связь по вопросам, жалобам и предложениям</h3>
            <p>Если у Вас остались вопросы, Вы имеете жалобы или предложения, то для контакта с администрацией
                спуститесь в самый низ страницы и нажмите на пункт <a href="/complaint" style="font-size: inherit">«Обратная
                    связь»</a>.</p>
            <div class="card green accent-2 text-black text-center p-3 mt-2 mb-3 hoverable"
                 style="width: auto">
                <blockquote class="blockquote mb-0">
                    <h4 class="card-title">Важно</h4>
                    <p>Для связи с администрацией необходимо авторизироваться на сайте.</p>
                    <footer class="blockquote-footer">
                        <small>
                            <cite title="Source Title">Для использования всех возможностей сайта мы рекомендуем
                                вам зарегестрироваться на сайте</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>