<div class="tab-pane fade active show" id="full_dashboard">
    <div class="container-fluid">
        {% include 'components/profile/profile/good_carousel.html' %}
        {% include 'components/profile/profile/comments_scroll.html' %}
        {% include 'components/profile/profile/rate_carousel.html' %}
    </div>
</div>