{% load static %}
<div class="linksFooter">
    <a class="linkFooter" href="/about_us/">О нас</a>
<!--    <a class="linkFooter" href="">Поддержка</a>-->
    <a class="linkFooter" href="/complaint/">Обратная связь</a>
</div>
<div class="linksFooter">
    <a class="linkFooter" href="/privacy_policy/">Политика конфиденциальности</a>
    <a class="linkFooter" href="/terms_of_use/">Права пользования</a>
</div>
