{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Профиль</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/change_info.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_sidebar_menu.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_sidebar_themes.css'%}">
{% endblock %}

{% block menu %}
{% include 'components/profile/profile/sidebar.html' %}
{% endblock %}

{% block content %}
<main class="page-content pt-2" style="margin-left: 80px">
    <div class="tab-content p-3">
        {% include 'components/profile/profile/tabs/full_dashboard.html' %}
        {% include 'components/profile/profile/tabs/your_products.html' %}
        {% include 'components/profile/profile/tabs/your_comments.html' %}
        {% include 'components/profile/profile/tabs/your_rates.html' %}
        {% include 'components/profile/profile/tabs/documentation.html' %}
        {% include 'components/profile/profile/tabs/default_tab.html' %}
        {% include 'components/profile/profile/tabs/change_info.html' %}
    </div>
</main>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/jquery.star-rating-svg.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/profile_sidebar.js' %}"></script>
<script src="{% static 'js/searcher.js' %}"></script>
{% endblock %}
