{% load static %}
<div class="page-wrapper light-theme sidebar-bg bg1 toggled" style="height: 0">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content"  style="overflow-y: inherit">
            {% include 'components/profile/profile/sidebar/brand.html' %}
            {% include 'components/profile/profile/sidebar/header.html' %}
            {% include 'components/profile/profile/sidebar/search.html' %}
            {% include 'components/profile/profile/sidebar/menu.html' %}
        </div>
        {% include 'components/profile/profile/sidebar/footer.html' %}
    </nav>
</div>