{% load socialaccount %}
<div class="form-container sign-up-container">
    <form action="" method="POST">
        {% csrf_token %}
        <h1 class="mb-2">Создать аккаунт</h1>
        <div class="social-container">
            <a href="{% provider_login_url 'vk' %}" class="social"><i class="fab fa-vk"></i></a>
            <a href="{% provider_login_url 'google' %}" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="{% provider_login_url 'yandex' %}" class="social"><i class="fab fa-yandex-international"></i></a>
                    </div>
            <!-- <span>или используйте вашу почту для регистрации</span>  -->
            {% if reg_form.errors %}
                {% if reg_form.errors.password2 %}
                <div class="error-reg">
                    <b>{{reg_form.errors.password2}}</b>
                </div>
                {%endif%}
                {% if reg_form.errors.username %}
                <div class="error-reg">
                    <b>{{reg_form.errors.username}}</b>
                </div>
                {%endif%}
                {% if reg_form.errors.email %}
                <div class="error-reg">
                    <b>{{reg_form.errors.email}}</b>
                </div>
                {%endif%}
            {%endif%}
            {{ reg_form.username }}
            {{ reg_form.email }}
            {{ reg_form.password }}
            {{reg_form.password2 }}

            <input type="hidden" value="SignUp" name="status">
            <button class="mt-3 bt-ghost-up-acc" type="submit">Регистрация</button>
    </form>
</div>