{% load socialaccount %}
<div class="wrap">
    <div class="modal" id="signmodal_wrap" style="position: none !important">
        <div class="container-modal" id="container">
            <form action="" method="POST">
                {% csrf_token %}
                <h1 class="mb-2">Создать аккаунта</h1>
                <div class="social-container">
                    <a href="{% provider_login_url 'vk' %}" class="social"><i class="fab fa-vk"></i></a>
                    <a href="{% provider_login_url 'google' %}" class="social"><i class="fab fa-google-plus-g"></i></a>
<!--                    <a href="{% provider_login_url 'facebook' %}" class="social"><i-->
<!--                            class="fab fa-facebook-f"></i></a>-->
                </div>
                {% if reg_form.errors %}
                    {% if reg_form.errors.password2 %}
                    <div class="error-reg">
                        <b>{{reg_form.errors.password2}}</b>
                    </div>
                    {%endif%}
                    {% if reg_form.errors.username %}
                    <div class="error-reg">
                        <b>{{reg_form.errors.username}}</b>
                    </div>
                    {%endif%}
                    {% if reg_form.errors.email %}
                    <div class="error-reg">
                        <b>{{reg_form.errors.email}}</b>
                    </div>
                    {%endif%}
                {%endif%}
                {{ reg_form.username }}
                {{ reg_form.email }}
                {{ reg_form.password }}
                {{reg_form.password2 }}
                <input type="hidden" value="SignUp" name="status">
                <button class="mt-3 bt-ghost-up-acc" type="submit">Регистрация</button>
            </form>
            <p style="text-align: center">Или</p>
            <form action="" method="POST">
                {% csrf_token %}
                <h1>Войти</h1>
                <div class="social-container">
                    <a href="{% provider_login_url 'vk' %}" class="social"><i class="fab fa-vk"></i></a>
                    <a href="{% provider_login_url 'google' %}" class="social"><i class="fab fa-google-plus-g"></i></a>
<!--                    <a href="{% provider_login_url 'facebook' %}" class="social"><i-->
<!--                            class="fab fa-facebook-f"></i></a>-->
                </div>
                {% for error in login_errors %}
                <div class="row error-reg">
                    <p><b>{{error}}</b></p>
                </div>
                {% endfor %}
                <input class="mb-2" type="text" placeholder="Имя или почта" name="identification" required
                       autofocus>
                <input class="mb-2" type="password" placeholder="Пароль" name="password" required>

                <input type="hidden" name="status" value="SignIn">
                <a href="/recovery_password">Забыли пароль?</a>
                <button class="bt-ghost-in" type="submit">Вход</button>
            </form>
        </div>
    </div>
</div>