{% for product in goods %}
<div class="card hoverable">
    {%if product.file%}
    <a href="/product/{{product.name}}/"><img src="{{product.file}}" class="card-img-top" alt="{{product.name}}"></a>
    {%else%}
    <h5 class="text-wrap p-5">Image not found</h5>
    {%endif%}
    <div class="card-body">
        {% if user.is_authenticated %}

        {% for rate in rated %}
            {% for item in rate %}
                <p style="margin: 0 auto;">Ваша оценка:</p>
                {% if item.good == product.name %}
                    <p id="average-{{item.good}}" style="color: #10c46a; margin: 0 auto; font-size: 20px;">{{item.rating}}</p>
                    <script>
                        if ($('#average-{{item.good}}').html() <= 3.5)
                            $('#average').css('color', '#bf0704');
                        else
                            $('#average').css('color', '#10c46a');
                    </script>
                {% else %}
                <p style="margin: 5px auto; text-align: center; font-size: 17px">Кажется, вы ещё не оценили этот товар</p>
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% else %}

        {% for rate in rated %}
            {% if rate.good == product.name %}
                <p style="margin: 0 auto;">оценка:</p>
                <p id="average-{{rate.good}}" style="color: #10c46a; margin: 0 auto; font-size: 20px;">{%if rate.rating.rating__avg%}
                    {{rate.rating.rating__avg}} {%else%}Нет оценок{%endif%}</p>
            {%endif%}
        {% endfor %}

        {% endif %}
        <h5 class="card-title text-center"><a href="/product/{{product.name}}/" style="font-size: inherit">{{product.name}}</a></h5>
        {% if user.is_superuser %}
        {% include 'components/categories//modals_for_admin/edit_good.html' %}
        {% include 'components/categories//modals_for_admin/edit_positives.html' %}
        {% include 'components/categories//modals_for_admin/edit_negatives.html' %}

        <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="type" value="good" type="hidden">
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="good_id" value="{{product.id}}">
                <input name="type" value="good" type="hidden">
                <button type="submit" class="btn btn-block btn-outline-danger mt-4">Удалить</button>
            </form>

        {% endif %}
    </div>
</div>
{% endfor %}

{% if not children and not goods %}
<h3 class="p-5 text-danger">Элементы не найдены</h3>
{% endif %}
