<button type="button" class="btn btn-outline-success mt-2" data-toggle="modal" data-target="#edit_positives{{product.id}}">
    Редактировать плюсы
</button>
<div class="modal fade" id="edit_positives{{product.id}}" tabindex="-1" role="dialog"
     aria-labelledby="edit_positives" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit_positives">Редактировать плюсы товара</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>Удалить плюс товара</p>
                        <select name="positive_id" class="form-control form-control-sm ml-1 mt-2 row">
                            <option value="None" disabled selected>Выбрать</option>
                            {% for positive in positives %}
                            {% if positive.good == product.id %}
                            <option value="{{positive.id}}">{{positive.value}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <input name="type" value="positive" type="hidden">
                        <input type="hidden" name="good_id" value="{{product.id}}">
                        <input name="action" value="delete_positive" type="hidden">
                        <button class="btn btn-outline-danger" type="submit">Удалить</button>
                    </form>
                </div>
                <div>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input name="type" value="positive" type="hidden">
                        <input type="hidden" name="good_id" value="{{product.id}}">
                        <p>Добавить плюс товара</p>
                        <input name="action" value="add_positive" type="hidden">
                        <input type="text" placeholder="Добавить плюс товара" name="positive">
                        <button class="btn btn-success" type="submit">Добавить</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>