<div class="alert text-center cookiealert" role="alert">
    <b>Вы любите печеньки?</b> &#x1F36A; Мы используем сookie для того, чтобы ваше пользование сайтом было максимально
    комфортным <a href="/privacy_policy" target="_blank" style="color: #4285f4">Узнать больше</a>
    <button type="button" class="btn btn-primary btn-sm acceptcookies">Я согласен</button>
</div>
