{% load static %}
<script src="https://kit.fontawesome.com/f85fa57f91.js" crossorigin="anonymous"></script>
<link href="https://cdn.materialdesignicons.com/3.8.95/css/materialdesignicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/mdb.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/photo.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/preloader.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_documentation.css' %}">
