{% load static %}
<script src="{% static 'js/main/wow.min.js' %}"></script>
<script>
    new WOW().init();
</script>

<!--BOOTSTRAP jquery-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<!--ajax-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--BOOTSTRAP another-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--Этот скрипт почему-то многое ломает-->
<script src="{% static 'js/main/mdb.js' %}"></script>

<!--any-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<script src='https://aishek.github.io/jquery-animateNumber/javascripts/jquery.animateNumber.js'></script>
<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>

<script src="{% static 'js/main/button.js' %}"></script>
<script src="{% static 'js/main/preloader.js' %}"></script>
<script src="{% static 'js/photo.js' %}"></script>
<script src="{% static 'js/dense.js' %}"></script>

<!--User documentation-->
<script src="{% static 'js/user_documentation.js' %}"></script>

{% include 'components/base/base/modal.html' %}
