<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" style="height: 100%">
        <div class="modal-content mb-5">
            <div style="color: #515050">
                <h2 class="text-center mt-2 mb-2">Документация пользователя</h2>
                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'GoodInformation')" id="defaultOpen"
                            style="word-break: break-word;">Предоставление
                        информации о товаре по его фотографии
                    </button>
                    <button class="tablinks" onclick="openTab(event, 'GoodSearch')" style="word-break: break-word;">
                        Поиск товара в множестве категорий,
                        а так же просмотр средней оценки от пользователей
                    </button>
                    <button class="tablinks" onclick="openTab(event, 'Gallery')" style="word-break: break-word;">Галерея
                        с фотографиями, загруженными
                        пользователями
                    </button>
                    <button class="tablinks" onclick="openTab(event, 'Review')" style="word-break: break-word;">Отзыв о
                        товаре и оценка по
                        пятибальной шкале
                    </button>
                    <button class="tablinks" onclick="openTab(event, 'Feedback')" style="word-break: break-word;">
                        Обратная связь по вопросам, жалобам
                        и предложениям
                    </button>
                </div>

                <div id="GoodInformation" class="tabcontent text-justify" style="height: auto">
                    <h3>Предоставление информации о товаре по его фотографии</h3>
                    <p>Для поиска товара по фотографии перейдите на главную страницу сайта (переход можно осуществить по
                        нажатию на логотип сервиса или вкладки <a href="/" style="font-size: inherit">«Главная»</a> в
                        меню сайта). Далее необходимо нажать на
                        кнопку «Загрузить фото» или перетащить Ваше фото в соответствующую
                        область, дождаться обработки фото (обычно занимает не более двух секунд).</p>
                    <p>Если такой товар уже присутствует на нашем сайте, то Вы будете перенаправлены
                        на страницу соответствующего товара.
                        В ином случае Вам будет предложено добавить Ваш товар на наш сайт.</p>
                    <div class="card yellow lighten-2 text-black text-center p-3 mt-2 mb-3 hoverable"
                         style="width: auto">
                        <blockquote class="blockquote mb-0">
                            <h4 class="card-title">Внимание</h4>
                            <p>Следует писать настоящее название товара, а также не использовать специальных символов.
                                После отправки заявки в Вашем профиле появится товар, который Вы отправили на модерацию,
                                а также статус вашей заявки.</p>
                            <footer class="blockquote-footer">
                                <small>
                                    <cite title="Source Title">Наши модераторы будут вам очень благдарны</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                    <p>После проверки на подлинность названия товара и распределения его в правильную категорию
                        Вы увидите, что статус изменился на «Одобрено». В ином случае статус изменится на
                        «Отклонено».</p>
                    <div class="card blue lighten-2 text-black text-center p-3 mt-2 mb-3 hoverable" style="width: auto">
                        <blockquote class="blockquote mb-0">
                            <h4 class="card-title">Примечание</h4>
                            <p>По вопросам и жалобам можно обратиться через раздел
                                <a href="/complaint" style="font-size: inherit">«Обратная связь»</a> внизу
                                страницы (см. пункт <b>"Обратная связь по вопросам, жалобам и предложениям"</b>).
                            </p>
                            <footer class="blockquote-footer">
                                <small>
                                    <cite title="Source Title">Мы обязательно рассмотрим ваше сообщение и ответим как
                                        можно скорее</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>

                <div id="GoodSearch" class="tabcontent text-justify" style="height: auto">
                    <h3>Поиск товара в множестве категорий, а так же просмотр средней оценки от пользователей</h3>
                    <p>Если Вы хотите найти товар через категории, то нужно перейти на страницу <a href="/category/"
                                                                                                   style="font-size: inherit">«Товары»</a>,
                        перейти в нужную категорию и нажать на искомый товар.
                        Ваши оценки к товару располагаются в списке всех товаров категории,
                        а средняя оценка всех пользователей на странице соответсвующего товара.</p>
                    <div class="card green accent-2 text-black text-center p-3 mt-2 mb-3 hoverable"
                         style="width: auto">
                        <blockquote class="blockquote mb-0">
                            <h4 class="card-title">Важно</h4>
                            <p>Для оценки товара необходимо авторизоваться на сайте.</p>
                            <footer class="blockquote-footer">
                                <small>
                                    <cite title="Source Title">Для использования всех возможностей сайта мы рекомендуем
                                        вам зарегестрироваться на сайте</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>

                <div id="Gallery" class="tabcontent text-justify" style="height: auto">
                    <h3>Галерея с фотографиями, загруженными пользователями</h3>
                    <p>Чтобы перейти в галерею товара, необходимо зайти на его страницу (см. пункты<b>"Предоставление
                        информации о товаре по его фотографии"</b>,
                        <b>"Поиск товара в множестве категорий"</b>).
                        После перехода на страницу, под фотографиями продукта вы увидите ссылку для перехода к галерее.
                    </p>
                    <div class="card green accent-2 text-black text-center p-3 mt-2 mb-3 hoverable"
                         style="width: auto">
                        <blockquote class="blockquote mb-0">
                            <h4 class="card-title">Важно</h4>
                            <p>Для просмотра галереи необходимо авторизироваться на сайте.</p>
                            <footer class="blockquote-footer">
                                <small>
                                    <cite title="Source Title">Для использования всех возможностей сайта мы рекомендуем
                                        вам зарегестрироваться на сайте</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>

                <div id="Review" class="tabcontent text-justify" style="height: auto">
                    <h3>Отзыв о товаре и оценка по пятибальной шкале</h3>
                    <p>Для того, чтобы оставить отзыв о товаре, необходимо перейти на его
                        страницу(см. пункт <b>"Поиск товара в множестве категорий"</b>), спуститься вниз
                        страницы и написать отзыв.
                    </p>
                    <div class="card blue lighten-2 text-black text-center p-3 mt-2 mb-3 hoverable"
                         style="width: auto">
                        <blockquote class="blockquote mb-0">
                            <h4 class="card-title">Совет</h4>
                            <p>Не стоит использовать оскорбительные слова и нецензурную лексику. Все отзывы фильтруются
                                и удаляются.</p>
                            <footer class="blockquote-footer">
                                <small>
                                    <cite title="Source Title">Проявите вежливость к администрации и другим
                                        пользователям</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                    <p>Для того чтобы оценить товар, необходимо перейти на его
                            страницу(см. пункт <b>"Поиск товара в множестве категорий"</b>). Под основной информацией о
                        товаре Вы найдёте пункт «Ваша оценка». После оценки товара Вы увидите среднюю оценку этого
                        товара другими пользователямию.
                    </p>
                    <div class="card green accent-2 text-black text-center p-3 mt-2 mb-3 hoverable"
                         style="width: auto">
                        <blockquote class="blockquote mb-0">
                            <h4 class="card-title">Важно</h4>
                            <p>Для оценки товара необходимо авторизироваться на сайте.</p>
                            <footer class="blockquote-footer">
                                <small>
                                    <cite title="Source Title">Для использования всех возможностей сайта мы рекомендуем
                                        вам зарегестрироваться на сайте</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>

                <div id="Feedback" class="tabcontent text-justify" style="height: auto">
                    <h3>Обратная связь по вопросам, жалобам и предложениям</h3>
                    <p>Если у Вас остались вопросы, Вы имеете жалобы или предложения, то для контакта с администрацией
                        спуститесь в самый низ страницы и нажмите на пункт <a href="/complaint"
                                                                              style="font-size: inherit">«Обратная
                            связь»</a>.</p>
                    <div class="card green accent-2 text-black text-center p-3 mt-2 mb-3 hoverable"
                         style="width: auto">
                        <blockquote class="blockquote mb-0">
                            <h4 class="card-title">Важно</h4>
                            <p>Для связи с администрацией необходимо авторизироваться на сайте.</p>
                            <footer class="blockquote-footer">
                                <small>
                                    <cite title="Source Title">Для использования всех возможностей сайта мы рекомендуем
                                        вам зарегестрироваться на сайте</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

