<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'components/base/base/css_imports.html' %}
    {% include 'components/base/base/favicon.html' %}
    {% include 'components/base/base/yandex.html' %}

    {% block title %}
    <title>Главная</title>
    {% endblock %}
    {% block extra_css %}{% endblock %}
</head>

<body>
{% include 'components/base/base/preloader.html' %}
{% include 'components/base/base/user_documentation.html' %}
{% include 'components/base/base/cookie_notice.html' %}

<header>
    {% include 'base/menu.html' %}
    {% block menu %}
    {% endblock %}
</header>

<main>
    {% include 'main/modal_form.html' %}
    {% block content %}
    {% endblock %}
</main>

<footer id="footer">
    {% include 'base/footer.html' %}
</footer>

{% include 'components/base/base/js_imports.html' %}

{% block extra_js %}{% endblock %}
</body>
</html>
