{% load static %}
<nav class="navbar navbar-expand-lg navbar-light cloudy-knoxville-gradient" style="border-color: white">
    <div class="container">
        {% include 'components/base/menu/logo.html' %}
        {% include 'components/base/menu/navbar.html' %}
    </div>
</nav>
