<!-- sidebar-footer  -->
<div class="sidebar-footer">
<!--    <div class="dropdown">-->
<!--        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            <i class="fa fa-bell"></i>-->
<!--            <span class="badge badge-pill badge-warning notification">3</span>-->
<!--        </a>-->
<!--        <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">-->
<!--            <div class="notifications-header">-->
<!--                <i class="fa fa-bell"></i>-->
<!--                Notifications-->
<!--            </div>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">-->
<!--                <div class="notification-content">-->
<!--                    <div class="icon">-->
<!--                        <i class="fas fa-check text-success border border-success"></i>-->
<!--                    </div>-->
<!--                    <div class="content">-->
<!--                        <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing-->
<!--                            elit. In totam explicabo-->
<!--                        </div>-->
<!--                        <div class="notification-time">-->
<!--                            6 minutes ago-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--            <a class="dropdown-item" href="#">-->
<!--                <div class="notification-content">-->
<!--                    <div class="icon">-->
<!--                        <i class="fas fa-exclamation text-info border border-info"></i>-->
<!--                    </div>-->
<!--                    <div class="content">-->
<!--                        <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing-->
<!--                            elit. In totam explicabo-->
<!--                        </div>-->
<!--                        <div class="notification-time">-->
<!--                            Today-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--            <a class="dropdown-item" href="#">-->
<!--                <div class="notification-content">-->
<!--                    <div class="icon">-->
<!--                        <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>-->
<!--                    </div>-->
<!--                    <div class="content">-->
<!--                        <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing-->
<!--                            elit. In totam explicabo-->
<!--                        </div>-->
<!--                        <div class="notification-time">-->
<!--                            Yesterday-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <ul class="tabs">-->
<!--            <li><a class="dropdown-item text-center" href="#all_notifications">View all notifications</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="dropdown">-->
<!--        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            <i class="fa fa-envelope"></i>-->
<!--            <span class="badge badge-pill badge-success notification">7</span>-->
<!--        </a>-->
<!--        <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">-->
<!--            <div class="messages-header">-->
<!--                <i class="fa fa-envelope"></i>-->
<!--                Messages-->
<!--            </div>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">-->
<!--                <div class="message-content">-->
<!--                    <div class="pic">-->
<!--                        <img src="img/user.jpg" alt="">-->
<!--                    </div>-->
<!--                    <div class="content">-->
<!--                        <div class="message-title">-->
<!--                            <strong> Jhon doe</strong>-->
<!--                        </div>-->
<!--                        <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing-->
<!--                            elit. In totam explicabo-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </a>-->
<!--            <a class="dropdown-item" href="#">-->
<!--                <div class="message-content">-->
<!--                    <div class="pic">-->
<!--                        <img src="img/user.jpg" alt="">-->
<!--                    </div>-->
<!--                    <div class="content">-->
<!--                        <div class="message-title">-->
<!--                            <strong> Jhon doe</strong>-->
<!--                        </div>-->
<!--                        <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing-->
<!--                            elit. In totam explicabo-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </a>-->
<!--            <a class="dropdown-item" href="#">-->
<!--                <div class="message-content">-->
<!--                    <div class="pic">-->
<!--                        <img src="img/user.jpg" alt="">-->
<!--                    </div>-->
<!--                    <div class="content">-->
<!--                        <div class="message-title">-->
<!--                            <strong> Jhon doe</strong>-->
<!--                        </div>-->
<!--                        <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing-->
<!--                            elit. In totam explicabo-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <ul class="tabs">-->
<!--            <li><a class="dropdown-item text-center" href="#zero">View all messages</a></li>-->
<!--            </ul>-->

<!--        </div>-->
<!--    </div>-->
    <div class="dropdown">
        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i>
            <span class="badge-sonar"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
            <ul class="tabs">
                <li><a class="dropdown-item" href="#change_info">Мои данные</a></li>
<!--                <li><a class="dropdown-item" href="#zero">Помощь</a></li>-->
<!--                <li><a class="dropdown-item" href="#zero">Настройки</a></li>-->
            </ul>
        </div>
    </div>
    <div>
        <a href="/logout">
            <i class="fa fa-power-off"></i>
        </a>
    </div>
    <div class="pinned-footer">
        <a href="#">
            <i class="fas fa-ellipsis-h"></i>
        </a>
    </div>
</div>