<!-- sidebar-menu  -->
<div class=" sidebar-item sidebar-menu">
    <ul class="tabs">
        <li class="header-menu">
            <span>Основые</span>
        </li>
        <li class="sidebar-dropdown">
            <a href="#">
                <i class="fa fa-tachometer-alt"></i>
                <span class="menu-text">Главная</span>
                <span class="badge badge-pill badge-info">Info</span>
            </a>
            <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#full_dashboard">Вся информация
                            <span class="badge badge-pill badge-success">Full</span>
                        </a>
                    </li>
                    <li>
                        <a href="#your_products">Ваши продукты</a>
                    </li>
                    <li>
                        <a href="#your_comments">Ваши комментарии</a>
                    </li>
                    <li>
                        <a href="#your_rates">Ваши оценки</a>
                    </li>
                </ul>
            </div>
        </li>
<!--        <li class="sidebar-dropdown">-->
<!--            <a href="#">-->
<!--                <i class="fa fa-shopping-cart"></i>-->
<!--                <span class="menu-text">E-commerce</span>-->
<!--&lt;!&ndash;                <span class="badge badge-pill badge-danger">3</span>&ndash;&gt;-->
<!--            </a>-->
<!--            <div class="sidebar-submenu">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a href="#zero">Products</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#zero">Orders</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#zero">Credit cart</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="sidebar-dropdown">-->
<!--            <a href="#">-->
<!--                <i class="far fa-gem"></i>-->
<!--                <span class="menu-text">Components</span>-->
<!--            </a>-->
<!--            <div class="sidebar-submenu">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a href="#zero">General</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#zero">Panels</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#zero">Tables</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#zero">Icons</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#zero">Forms</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="sidebar-dropdown">-->
<!--            <a href="#">-->
<!--                <i class="fa fa-chart-line"></i>-->
<!--                <span class="menu-text">Статистика</span>-->
<!--            </a>-->
<!--            <div class="sidebar-submenu">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a href="#user_statistics">Ваша статистика</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#zero">Line chart</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#zero">Bar chart</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#zero">Histogram</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="sidebar-dropdown">-->
<!--            <a href="#">-->
<!--                <i class="fa fa-globe"></i>-->
<!--                <span class="menu-text">Maps</span>-->
<!--            </a>-->
<!--            <div class="sidebar-submenu">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a href="#zero">Google maps</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#zero">Open street map</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
        <li class="header-menu">
            <span>Дополнительно</span>
        </li>
        <li>
            <a href="#docs">
                <i class="fa fa-book"></i>
                <span class="menu-text">Документация</span>
                <span class="badge badge-pill badge-primary">Beta</span>
            </a>
        </li>
<!--        <li>-->
<!--            <a href="#zero">-->
<!--                <i class="fa fa-calendar"></i>-->
<!--                <span class="menu-text">Calendar</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#zero">-->
<!--                <i class="fa fa-folder"></i>-->
<!--                <span class="menu-text">Examples</span>-->
<!--            </a>-->
<!--        </li>-->
    </ul>
</div>