<!-- sidebar-search  -->
<div class="sidebar-item sidebar-search">
    <div>
        <div class="input-group">
            <input id="searcher" type="text" class="form-control search-menu search-input" placeholder="Поиск">
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" id="dropdownMenu " aria-haspopup="true"
                        aria-expanded="false" style="display: none"></button>
                <input type="hidden" name="data" value="{{all_goods_names}}" id="initial_data">
                <div class="dropdown-menu" aria-labelledby="dropdownMenu" id="dropdown_menu_searcher"
                     aria-expanded="false" style="top: auto"></div>
            </div>
        </div>
    </div>
</div>